/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/*Estilizar tudo*/
body {
    font-family: "Delius Swash Caps";
    background-color: #bdcfff;
    padding: 20px;
}

main {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(45, 1, 87);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    background-color: #edf1fa;
    width: 100%;
    padding: 10px;
    border: 2px solid #4b016d1a;
    border-radius: 10px;
    box-sizing: border-box;
}

.error-message {
    color: #dc3545;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

.container, .Titulo {
    text-align: center;
}

button {
    background-color: #253a5c;
    color: #edf1fc;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    align-items: center;
}

button:hover {
    background-color: #5f8cd5;
}